player-connection-mode=Listen
player-connection-guid=2573404940
player-connection-debug=0
player-connection-project-name=quantum.unity
player-connection-ip=192.168.56.1
player-connection-ip=172.29.112.1
player-connection-ip=172.21.240.1
player-connection-ip=130.37.186.84
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=bacef198cf8442dcac67e425931c7cc8
