player-connection-mode=Listen
player-connection-guid=2398777106
player-connection-debug=0
player-connection-project-name=quantum.unity
player-connection-ip=192.168.56.1
player-connection-ip=172.19.176.1
player-connection-ip=192.168.0.106
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f6191a772429485e91726107a7deccd6
